.postAddPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postAddWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

@media (max-width: 993px) {
  .postAddWrapper {
    width: 100%;
  }
}